name: flutter_my_jio_clone
description: My Jio App developed in Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: "^0.7.0"

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/icon.png"


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/banner_0.jpg
    - assets/images/banner_1.jpg
    - assets/images/banner_2.jpg
    - assets/images/banner_3.jpg
    - assets/images/banner_4.jpg
    - assets/images/banner_5.jpg
    - assets/images/banner_6.jpg
    - assets/images/banner_entertainment_0.jpg
    - assets/images/banner_entertainment_1.jpg
    - assets/images/banner_entertainment_2.jpg
    - assets/images/banner_entertainment_3.jpg
    - assets/images/banner_entertainment_4.jpg
    - assets/images/banner_entertainment_5.jpg
    - assets/images/jio_pay_banner.png
    - assets/images/jio_app_0.png
    - assets/images/jio_app_1.png
    - assets/images/jio_app_2.png
    - assets/images/jio_app_3.png
    - assets/images/useful_link_0.png
    - assets/images/useful_link_1.png
    - assets/images/useful_link_2.png
    - assets/images/useful_link_3.png
    - assets/images/useful_link_4.png
    - assets/images/useful_link_5.png
    - assets/images/demo_pages/recharge_page_demo.jpg
    - assets/images/demo_pages/my_vouchers_page_demo.jpg
    - assets/images/demo_pages/coupons_page_demo.jpg
    - assets/images/demo_pages/engage_page_demo.jpg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
